:root {
  --bg-color_100: #ffffff;
  --bg-color_500: #fafafa;

  --text-color_100: 255, 255, 255;
  --text-color_300: 142, 142, 142;
  --text-color_500: 38, 38, 38;
  --text-color_900: 0, 0, 0;

  --primary-bg_500: 0, 149, 246;
  --primary-bg_600: 0, 55, 107;
  --primary-bg_700: 24, 119, 242;

  --secondary-bg_400: 248, 248, 248;
  --secondary-bg_500: 239, 239, 239;
  --secondary-bg_700: 219, 219, 219;
  --secondary-bg_800: 168, 168, 168;
  --secondary-bg_900: 0, 0, 0;
}
