.user__link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
}

.user__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 53px;
  margin-right: 8px;
  border-radius: 50%;
}

.user__image {
  border-radius: 50%;
}

.user__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user__name {
  font-weight: 600;
  color: rgb(var(--text-color_500));
}

.user__full-name {
  color: rgb(var(--text-color_300));
}
