.main-nav {
  position: fixed;
  width: 245px;
  height: 100vh;
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 20px;
  padding-left: 12px;
  border-right: solid 1px rgb(var(--secondary-bg_700));
  z-index: 1;
}

.main-nav__inner {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
