.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 246px;
  
  @media screen and (min-width: 1920px) {
    margin-left: 336px;
  } 

  @media screen and (max-width: 1263px) {
    margin-left: 72px;
  }

  @media screen and (max-width: 767px) {
    position: relative;
    margin-left: 0;
    padding-top: 61px;

    &::before {
      content: '';
      position: fixed;
      top: 0px;
      width: 100%;
      height: 60px;
      background-color: var(--bg-color_100);
      border-bottom: solid 1px rgb(var(--secondary-bg_700));
    }
  }
}
