.modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 10;

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 736px;

    background-color: var(--bg-color_200);
    border-radius: 12px;

    @media screen and (max-width: 992px) {
      width: 70vw;
    }
  }

  &-title {
    font-size: 22px;
  }

  .close-icon {
    cursor: pointer;
    width: 40px;
    position: absolute;
    right: 1%;
    top: 1%;
  }
}
