.recomendations {
  display: flex;
  flex-direction: column;
  width: 318px;
  padding-right: 16px;
  flex-shrink: 0;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.recomendations__title {
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 12px;
  color: rgb(var(--text-color_300));
}

.recomendations__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
