.comment-form {
  display: flex;
  align-items: center;
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 8px;
  padding-right: 16px;
  padding-left: 8px;
  border-top: 1px solid rgb(var(--secondary-bg_500));
  gap: 8px;
}

.comment-form__field {
  flex-grow: 1;
}

.comment-form__action {
  flex-shrink: 0;
}