.like {
  background: url('../../../public/images/icons/notifications.svg') no-repeat;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.like-activ {
  background: url('../../../public/images/icons/notifications-fill.svg')
    no-repeat;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
