.post {
  position: relative;
  cursor: pointer;

  &:hover {
    .post__overlay {
      opacity: 1;
    }
  }
}

.post--dashboard {
  position: static;
  border-bottom: solid 1px rgb(var(--secondary-bg_500));
  cursor: default;

  .post__image {
    width: 468px;
    height: 584px;
  }
}

.post__inner {
  width: 100%;
  aspect-ratio: 1/1;
}

.post__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 1px rgb(var(--secondary-bg_500));
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  transition: opacity .3s;
  opacity: 0;
  gap: 30px;

  @media screen and (max-width: 736px) {
    flex-direction: column;
    gap: 4px;
  }
}

.overlay__item {
  display: flex;
  align-items: center;
}

.overlay__likes {
  background-image: url('../../../public/images/icons/notifications-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.overlay__comments {
  background-image: url('../../../public/images/icons/messages-fill.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.overlay__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
}
