.profile {
  width: calc(100% - 40px);
  max-width: 975px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px 20px;

  @media screen and (max-width: 736px) {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
